<!DOCTYPE html>

<html lang="en">

  <head>

    <title>Arcave - Login</title>

  </head>

  <body>

    <div class="container">
          {% include 'includes/_messages.html' %}
          <form method="POST" action="">
                <div class="form-group">
                  <div class="form-label-group">
                    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required="required" autofocus="autofocus" value={{request.form.username}}>
                    <label for="inputUsername">Username</label>
                  </div>
                </div>
                <div class="form-group">

                  <div class="form-label-group">
                    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="required" autofocus="autofocus" value={{request.form.password}}>
                    <label for="inputPassword">Password</label>
                  </div>
                </div>

               
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </form>
        </div>


  </body>

</html>
